<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aj.ajhouse.dao.AjDocsMapper" >
  <resultMap id="BaseResultMap" type="com.aj.ajhouse.pojo.po.AjDocs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="do_ctitle" property="doCtitle" jdbcType="VARCHAR" />
    <result column="menu_topid" property="menuTopid" jdbcType="INTEGER" />
    <result column="menu_leafid" property="menuLeafid" jdbcType="INTEGER" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.aj.ajhouse.pojo.po.AjDocs" extends="BaseResultMap" >
    <result column="doc_content" property="docContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, do_ctitle, menu_topid, menu_leafid, creat_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    doc_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.aj.ajhouse.pojo.po.AjDocsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aj_docs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aj.ajhouse.pojo.po.AjDocsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aj_docs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aj_docs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from aj_docs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aj.ajhouse.pojo.po.AjDocsExample" >
    delete from aj_docs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aj.ajhouse.pojo.po.AjDocs" >
    insert into aj_docs (id, do_ctitle, menu_topid, 
      menu_leafid, creat_time, update_time, 
      doc_content)
    values (#{id,jdbcType=INTEGER}, #{doCtitle,jdbcType=VARCHAR}, #{menuTopid,jdbcType=INTEGER}, 
      #{menuLeafid,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{docContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aj.ajhouse.pojo.po.AjDocs" >
    insert into aj_docs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="doCtitle != null" >
        do_ctitle,
      </if>
      <if test="menuTopid != null" >
        menu_topid,
      </if>
      <if test="menuLeafid != null" >
        menu_leafid,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="docContent != null" >
        doc_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="doCtitle != null" >
        #{doCtitle,jdbcType=VARCHAR},
      </if>
      <if test="menuTopid != null" >
        #{menuTopid,jdbcType=INTEGER},
      </if>
      <if test="menuLeafid != null" >
        #{menuLeafid,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docContent != null" >
        #{docContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aj.ajhouse.pojo.po.AjDocsExample" resultType="java.lang.Integer" >
    select count(*) from aj_docs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update aj_docs
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.doCtitle != null" >
        do_ctitle = #{record.doCtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.menuTopid != null" >
        menu_topid = #{record.menuTopid,jdbcType=INTEGER},
      </if>
      <if test="record.menuLeafid != null" >
        menu_leafid = #{record.menuLeafid,jdbcType=INTEGER},
      </if>
      <if test="record.creatTime != null" >
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.docContent != null" >
        doc_content = #{record.docContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update aj_docs
    set id = #{record.id,jdbcType=INTEGER},
      do_ctitle = #{record.doCtitle,jdbcType=VARCHAR},
      menu_topid = #{record.menuTopid,jdbcType=INTEGER},
      menu_leafid = #{record.menuLeafid,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      doc_content = #{record.docContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update aj_docs
    set id = #{record.id,jdbcType=INTEGER},
      do_ctitle = #{record.doCtitle,jdbcType=VARCHAR},
      menu_topid = #{record.menuTopid,jdbcType=INTEGER},
      menu_leafid = #{record.menuLeafid,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aj.ajhouse.pojo.po.AjDocs" >
    update aj_docs
    <set >
      <if test="doCtitle != null" >
        do_ctitle = #{doCtitle,jdbcType=VARCHAR},
      </if>
      <if test="menuTopid != null" >
        menu_topid = #{menuTopid,jdbcType=INTEGER},
      </if>
      <if test="menuLeafid != null" >
        menu_leafid = #{menuLeafid,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docContent != null" >
        doc_content = #{docContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aj.ajhouse.pojo.po.AjDocs" >
    update aj_docs
    set do_ctitle = #{doCtitle,jdbcType=VARCHAR},
      menu_topid = #{menuTopid,jdbcType=INTEGER},
      menu_leafid = #{menuLeafid,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      doc_content = #{docContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aj.ajhouse.pojo.po.AjDocs" >
    update aj_docs
    set do_ctitle = #{doCtitle,jdbcType=VARCHAR},
      menu_topid = #{menuTopid,jdbcType=INTEGER},
      menu_leafid = #{menuLeafid,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>