<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aj.ajhouse.dao.QuestionMapper" >

    <sql id="Base_Column_List">
        qu.id, qu.ques_title as quesTitle, qu.ques_content as quesContent, qu.createtime ,qu.solvetime, u.nickname  ,qu.status
    </sql>
 <!--  <sql id="Blob_Column_List">
          u.nickname
    </sql>-->

    <sql id="where_Clause">
        <where>
        <if test="questionQuery!=null and questionQuery.quesTitle!=null and questionQuery.quesTitle!=''">
           and  qu.ques_title like '%${questionQuery.quesTitle}%'
        </if>
            and qu.status!=2
        </where>

    </sql>

    <select id="countQuestion" resultType="_int">
        select count(1)
        from aj_questions qu
        <include refid="where_Clause"/>
    </select>


    <select id="listQuestionByPage" resultType="com.aj.ajhouse.pojo.vo.Question">
        select
        <!--去重操作-->
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
    <!--    ,
        <include refid="Blob_Column_List"/>
-->
        from aj_questions qu
        left join aj_user u on qu.userid=u.id

        <include refid="where_Clause"/>
        ORDER BY id
        limit #{page.offset},#{page.rows}
    </select>

    <update id="updateBatch"  parameterType="java.lang.Integer">

       update  aj_questions set status=2 where id=#{id}

    </update>



    <!--qjk问答分页查询模糊查询的计数和查询-->
    <sql id="Where_quesTitle">
        <where>
            qu.status!=2
            <if test="questionQuery!=null and questionQuery.quesTitle!=null and questionQuery.quesTitle!=''">
                and  qu.ques_title like '%${questionQuery.quesTitle}%'
            </if>
        </where>
    </sql>

    <select id="countQuestionByTitle"  resultType="_int">
        select count(1)
        from aj_questions qu
        <include refid="Where_quesTitle"/>
    </select>

    <select id="listQuestionByPageInPortal" resultType="com.aj.ajhouse.pojo.vo.Question">
        select
        qu.id, qu.ques_title as quesTitle, qu.ques_content as quesContent, qu.createtime ,qu.solvetime, qu.userid ,qu.status
        from aj_questions qu
        /*left join aj_user u on qu.userid=u.id*/
        <include refid="Where_quesTitle"/>
        ORDER BY qu.createtime DESC
        limit #{pageBean.offset},#{pageBean.pageSize}
    </select>

    <select id="selectQuestionByIdInPortal" resultType="com.aj.ajhouse.pojo.vo.Question">
        select
        qu.id, qu.ques_title as quesTitle, qu.ques_content as quesContent, qu.createtime ,qu.solvetime, qu.userid ,qu.status
        from aj_questions qu
        WHERE qu.id = #{id}
    </select>

    <select id="selectNewIdByUserIdInPortal" resultType="int">
        select MAX(id)
        from aj_questions
        where userid = #{ajUser.id}
    </select>


</mapper>